store-procedure-demo/src/main/mule/store-procedure-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="15b64e03-acb7-4884-b288-c7d093b8ee50" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="ec104d7e-69ef-48d9-993e-ea21a02cc4af" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="admin" database="purchase_history" />
	</db:config>
	<flow name="store-procedure-demoFlow" doc:id="3006a56e-f99e-4c7f-9ef5-9d4645a03ff0" >
		<http:listener doc:name="Listener" doc:id="d07ad1ca-1c48-4ac8-b9b1-a0e93d495f4e" config-ref="HTTP_Listener_config" path="/update"/>
		<db:stored-procedure doc:name="Stored procedure" doc:id="9e830409-11b7-4ef6-b66b-e92c21718e6b" config-ref="Database_Config">
			<db:sql ><![CDATA[call adding_prod_price_orders_prod_id(:id, :rise)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: attributes.queryParams.prod_id,
	rise: attributes.queryParams.rise
}]]]></db:input-parameters>
		</db:stored-procedure>
		<ee:transform doc:name="Transform Message" doc:id="839a22f7-7eed-4e5d-9c1b-27b7833156cc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="96073c61-791b-49c9-9777-a3745340294d" message="#[payload]"/>
	</flow>
</mule>
