database-connection-demo/src/main/mule/database-connection-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f85430ef-4d35-4f01-9b23-b1b2ddd7b05a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="5dc850e2-ffea-43c3-89ac-bd47478a6a44" >
		<db:my-sql-connection host="${mysql.host}" port="${mysql.port}" user="${mysql.user}" password="${secure::mysql.password}" database="${mysql.database}" />
	</db:config>
	<configuration-properties doc:name="Configuration properties" doc:id="db9e023a-f937-4ee2-adf3-bcba093c7954" file="config\configuration-dev.yaml"/>
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="aa314c25-6b65-4cf5-9a5d-56473d15f8d9" file="config\test.properties" key="test" >
		<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>
	<flow name="database-connection-demoFlow" doc:id="63b2618d-04e3-45fe-bd39-99945746ae31" >
		<http:listener doc:name="Listener" doc:id="70ac9fc8-dec2-487b-8f75-6dbe37666a91" config-ref="HTTP_Listener_config" path="/database-test"/>
		<logger level="INFO" doc:name="Logger" doc:id="99700517-8720-4e10-af53-b101c18ca75f" />
		<db:insert doc:name="Insert" doc:id="bbcec1b1-8d36-484b-a08e-c21c0e26d3f1" autoGenerateKeys="true">
			<db:sql ><![CDATA[insert into studentrecord (fname, lname, rollnumber, dob, gender, address)values(:fname, :lname, :rollnumber, :dob, :gender ,:address)]]></db:sql>
			<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="f2551324-c2b6-4aab-948e-7fc9b77e7f48" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c015ba0a-9957-4c9a-9bb9-486278ea44a7" message="#[payload]"/>
	</flow>
</mule>
