mule-event-demo/src/main/mule/read-json-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9134fedb-8e19-463f-a867-0682328b9d65" basePath="mule-message-structure-demo" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="read-json-demoFlow" doc:id="faee0acc-a0db-4c6a-8df1-35500fe86a41" >
		<http:listener doc:name="Listener" doc:id="e66ebb6c-ffed-4344-9509-6ef99deecb7f" config-ref="HTTP_Listener_config" path="read-json" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="33b7ba4d-af76-446e-aa8b-76d731e15590" message="#[payload.employeeID]"/>
	</flow>
</mule>
