employee-onboard-rest-api/src/main/mule/implementation/delete-employee.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="delete-employeeFlow" doc:id="870877e6-3fdd-49da-9235-285ac77f506c" >
		<db:delete doc:name="Delete" doc:id="5f38e4d3-2a7f-437d-95fc-bb764c618588" config-ref="Database_Config">
			<db:sql ><![CDATA[delete from employee_detail where emp_id= :id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: attributes.uriParams."emp-id"
	}]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="e7d51bba-7c90-4c61-acfe-c5257b293dbf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

payload
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="4de74207-29b4-458b-ae7b-e631d335a489" message="#[payload]"/>
	</flow>
</mule>
