employee-onboard-rest-api/src/main/mule/implementation/fetch-employee.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="fetch-employeeFlow" doc:id="2b73362c-4183-47aa-b352-232238a65976" >
		<db:select doc:name="Select" doc:id="a7eccd6b-b0a4-4c91-bde3-1340e72a9cfe" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from employee_detail where emp_id= :id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: attributes.queryParams.emp_id,
	name: payload.emp_name,
	status: payload.emp_status

}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="a4e30b2d-8e6b-464f-967d-5c708b3704dd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e9770f43-73f7-4cd2-8605-a981a6cfe66a" message="#[payload]"/>
	</flow>
</mule>
