read-csv-file-demo/src/main/mule/read-csv-file-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="2b3a37a6-f886-435f-8604-53581e6a579a" />
	<db:config name="Database_Config" doc:name="Database Config" doc:id="5ecf5a6a-6970-4cdb-96e2-ac8044065ecc" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="admin" database="purchase_history" />
	</db:config>
	<flow name="read-csv-file-demoFlow" doc:id="d7481a82-631b-45d5-8a8d-55fc632e729a" >
		<scheduler doc:name="Scheduler" doc:id="5a008d31-fbbb-43a8-a710-2fe8ad1bf01b" >
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<file:read doc:name="Read csv file" doc:id="ed78ba4a-8b90-48ca-9dde-4850feb0cd0f" config-ref="File_Config" path="C:\Users\soumya balu\OneDrive\Desktop\products.csv"/>
		<ee:transform doc:name="Transform Message" doc:id="46c5f075-a9ff-4c85-9481-96843d48a578" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	prod_id: payload01.prod_id,
	prod_name: payload01.prod_name,
	prod_price: payload01.prod_price as String,
	prod_sku: payload01.prod_sku
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:bulk-insert doc:name="Bulk insert" doc:id="82773dc1-eb9e-4ff1-a91c-a0b048591f4e" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into products(prod_id, prod_name, prod_price, prod_sku) values(:prod_id, :prod_name, prod_price, :prod_sku)]]></db:sql>
		</db:bulk-insert>
		<logger level="INFO" doc:name="Logger" doc:id="3661a00b-f4fd-4c0c-929c-18e83d982ecd" message="#[payload]"/>
	</flow>
</mule>
