read-file-demo/src/main/mule/read-file-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="d72edb6b-83a3-496a-9f7c-d1f1147202ef" />
	<db:config name="Database_Config" doc:name="Database Config" doc:id="de2ecee5-7878-4732-be18-9916c2d0cbc7" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="admin" database="studentdata" />
	</db:config>
	<db:config name="Database_Config1" doc:name="Database Config" doc:id="409905f5-a364-4c71-a3b3-206d35bc64fe" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="admin" database="studentdata" />
	</db:config>
	<flow name="read-file-demoFlow" doc:id="3558bcdd-bcf2-4c79-9f2b-035215e799d9" >
		<scheduler doc:name="Scheduler" doc:id="41e272a9-63f0-499f-88a5-18aef1423807" >
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<file:read doc:name="Read studentrecord CSV file" doc:id="b0cf1b69-861a-491a-856a-66c563c7e1fd" config-ref="File_Config" path="C:\Users\soumya balu\OneDrive\Desktop\studentrecord.csv"/>
		<ee:transform doc:name="Transform Message" doc:id="63327221-2935-454b-9540-6db0f7c4bc18" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	fname: payload01.fname,
	lname: payload01.lname,
	rollnumber: payload01.rollnumber,
	dob: payload01.dob as String,
	gender: payload01.gender,
	address: payload01.address
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:bulk-insert doc:name="Bulk insert" doc:id="54b13580-05ea-4486-93ea-2785c0811104" config-ref="Database_Config1">
			<db:sql ><![CDATA[insert into studentrecord(fname, lname, rollnumber, dob, gender, address) values(:fname, :lname, :rollnumber, :dob, :gender, :address)]]></db:sql>
		</db:bulk-insert>
		<logger level="INFO" doc:name="Logger" doc:id="177eb056-67ec-4fc0-a4a9-34836efac6b0" message="#[payload]" />
	</flow>
</mule>
